@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

*{
    border: 1px solid rgba(255, 0, 0, 0.158);
}

h1{
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 110%;
}

header a{
    text-decoration: none;
    color: antiquewhite ;
}


h2{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    font-size: 20px;
    color: rgb(70, 32, 40);
    flex-direction: column;
    background-color: antiquewhite;
}

a.logo{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 24px;
    color:antiquewhite;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color:aliceblue;
    background-color: brown;
}

header ul{
    display: flex;
    gap: 32px;
}

.hero-column-left button{
    background-color: purple;
    color: antiquewhite;
}

ul li{
    list-style-type: none;
}

.hero{
    display: flex;
    height: 720px;
    padding: 32px 16%;
    align-items: center;
}

.hero-column-left, .hero-column-right{
    width: 50%;
}

.hero-column-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-column-left button{
    padding: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
}

.hero-column-left{
    padding-right: 128px;
}


.hero-column-right img{
    max-height: 650px;
}

.features{
    height: 800px;
    padding: 64px 0;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature-container{
    display: flex;
    gap: 64px;
    padding: 64px;
}

.features .feature-item img{
    width: 256px;
}

.feature-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.feature-item h2, .feature-item p{
    padding: 0;
    margin: 8px;
}

.quote{
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
    justify-content: center;
}

blockquote{
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    line-height: 130%;
    font-style: italic;
    padding-bottom: 48px;
    margin: 0;
}

.quote h2, .quote span{
    text-align: right;
    margin: 0;
}