@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&display=swap');

h1{
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 110%;
}

header a{
    text-decoration: none;
    color: antiquewhite ;
}

button{
    border: 0px;
    box-shadow: 0px 16px 32px rgba(77, 18, 18, 0.233);
}


h2{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    font-size: 20px;
    color: rgb(70, 32, 40);
    flex-direction: column;
    background-color: antiquewhite;
}

a.logo{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 24px;
    color:antiquewhite;
}

header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color:antiquewhite;
    background-color: brown;
}

header{
    height: 64px;
}

footer{
    height: 43px;
    font-size: 16px;
}

header ul{
    display: flex;
    gap: 32px;
}

.hero-column-left button{
    background-color: purple;
    color: antiquewhite;
}

ul li{
    list-style-type: none;
}

.hero{
    display: flex;
    height: 720px;
    padding: 32px 16%;
    align-items: center;
}

.hero-column-left, .hero-column-right{
    width: 50%;
}

.hero-column-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-column-left button, .cta-column-right button{
    padding: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', serif;
}

.hero-column-left{
    padding-right: 128px;
}


.hero-column-right img{
    max-height: 650px;
}

.features{
    height: 800px;
    padding: 64px 0;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature-container{
    display: flex;
    gap: 64px;
    padding: 64px;
}

.features .feature-item img{
    width: 256px;
}

.feature-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.feature-item h2, .feature-item p{
    padding: 0;
    margin: 8px;
}

.quote{
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
    justify-content: center;
}

blockquote{
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    line-height: 130%;
    font-style: italic;
    padding-bottom: 48px;
    margin: 0;
}

.quote h2, .quote span{
    text-align: right;
    margin: 0;
}

.cta{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 256px;
    background-image: url("images/footerillustration.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 2400px;
}

.cta-card{
    display: flex;
    align-items: center;
    color: antiquewhite;
    border-radius: 24px;
    padding: 32px;
    background: purple;
}

.cta-column-right{
    display: flex;
    justify-content: center;
}


.cta-column-left, .cta-column-right{
    width: 50%;
}